@import "../../styles/variables.scss";

.container-form-results {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}
