@import "../../styles/variables.scss";

.divider {
  width: 100%;
  height: 30px;

  background-color: $border-color;
  // background-color: $robot-color;
  clip-path: polygon(0 0, 100% 100%, 100% 50%, 0 100%);
}
