@import "../../styles/variables.scss";

.container-inputPage {
  padding-top: 1rem;
  max-width: 800px;

  margin: 0 auto;
  overflow: hidden;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  h3 {
    padding-top: 1rem;
  }
}

@include breakpoint-small {
  .container-inputPage {
    padding: 3rem;
    box-shadow: 0px 10px 10px 2px lightgray;
  }
}
