@import "../../styles/variables.scss";

.container-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}
