@import "../../styles/variables.scss";

.container-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  background-color: lighten($robot-color, 20%);

  a {
    text-decoration: none;
    color: $font-color;
    font-family: $title-font;
    font-size: 1.2rem;
    font-weight: bold;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 0.9rem;

    li {
      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: $font-color;
        font-weight: normal;
      }
    }
  }
}

@include breakpoint-small {
  .container-navbar {
    padding: 0.7rem 15rem;

    a {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.05rem;

      &:hover {
        font-size: 2.1rem;
      }
    }

    ul {
      gap: 1.5rem;

      li {
        a {
          font-size: 1.2rem;
          font-weight: 600;
          &:hover {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
